#####################################################################
##                            RGB-LED Lights
#####################################################################

[neopixel hotend_rgb]
pin: EBBCan:gpio16            # LED pin
chain_count: 3                # Number of LEDs
color_order: GRBW             # Color order
initial_RED: 0.2              # Initial red brightness
initial_GREEN: 0.2            # Initial green brightness
initial_BLUE: 0.2             # Initial blue brightness

[dotstar top_rgb]
data_pin:                rpi-pico:gpio29
clock_pin:                rpi-pico:gpio28
chain_count:             1
initial_RED: 0.8              # Initial red brightness
initial_GREEN: 0.8           # Initial green brightness
initial_BLUE: 0.8            # Initial blue brightness

[led_effect cancel_print]
leds:
    neopixel:hotend_rgb
    dotstar:top_rgb
layers:
    breathing  1 0 top (1,0,0)

[led_effect print_end]
leds:
    neopixel:hotend_rgb
    dotstar:top_rgb
layers:
    breathing  3 0 top (0,1,0)

[led_effect print_start]
leds:
    neopixel:hotend_rgb
    dotstar:top_rgb
layers:
    breathing  2 0 top (1.0, 0.7, 0)

[led_effect printing]
leds:
    neopixel:hotend_rgb
    dotstar:top_rgb
layers:
    static  1 0 top (.5, 0.5, .5)
    
[led_effect warming_up]
leds:
    neopixel:hotend_rgb
    dotstar:top_rgb
layers:
    breathing  3 1 top (1,0.25,0)


