########################################
# MCU - Raspberry Pi Pico (RP2040)
########################################

[mcu rpi-pico]
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044466888892F1C-if00


# ====== I2C en Pico (GP0=SDA, GP1=SCL) ======
# ====== I2C en Pico ======

[temperature_sensor testing]
sensor_type: SHT3X
i2c_mcu: rpi-pico
i2c_bus: i2c0a
i2c_address: 69
min_temp: 0
max_temp: 100
